{{>layout/indexHeader}}
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h4> 김현우 </h4>
                <h2> Portfolio - resume </h2>
                <a href="/img/resume/resume.pdf" download="김현우 이력서"><h4><i class='far fa-folder-open'></i> Download(이력서) </h4></a>
                <!-- <a href="/img/resume/portfolio.pdf" download="김현우 포트폴리오"><h4><i class='far fa-folder-open'></i> Download(포트폴리오) </h4></a> -->
            </div>
        </div>
    </div>
    <!-- /container -->
</div>

<section id="works"></section>
<div class="container">
    <div class="row centered mt mb">
        <h1>My Portfolio</h1>

        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="https://github.com/lang2s/test-portfolio-resume.git"><img src="img/works/portfolio.PNG" class="img-responsive" style="height: 239.99px; width: 359.99px;"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="https://lang2s.github.io/movie_app_portfolio/#/"><img src="img/works/movie_app.PNG" class="img-responsive" style="height: 239.99px; width: 359.99px;"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="https://github.com/lang2s/Spring-5.x-WebProject"><img src="img/works/main.PNG" class="img-responsive" style="height: 239.99px; width: 359.99px;"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="https://github.com/lang2s/KickBuck_ReactProject.git"><img src="img/works/tickOff.PNG" class="img-responsive" style="height: 239.99px; width: 359.99px;"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="https://github.com/lang2s/fourket.git"><img src="img/works/Fourket.PNG" class="img-responsive"style="height: 239.99px; width: 359.99px;"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="/works"><img src="img/portfolio/folio06.png" class="img-responsive"></a>
        </div>
    </div>
</div>

{{>layout/indexFooter}}