

{{>layout/indexHeader}}

<div id="workwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h4> NEW WEBSITE FOR </h4>
                <h1> About </h1>
                <a href="/img/resume/resume.pdf" download="김현우 이력서">
                    <h4><i class='far fa-folder-open'></i> Download(이력서) </h4>
                </a>
            </div>
        </div>
    </div>
    <!-- /container -->
</div>

<div class="container">
    <div class="row centered mt mb" style="height: 1100px;">
            <h1 style="color: #1abc9c;"> <i class="far fa-id-card" style="size: 7x;"></i> </h1> <br>
        <div style="width: 100%; height: 1000px;">
            <iframe src="/img/resume/resume.pdf#zoom=100" height="100%" width="100%" frameborder="0" ></iframe>
        </div>

    </div>
</div>



{{>layout/indexFooter}}